* { margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Hello{
    color: brown;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 100px;
    font-weight: 700;
}
.test1{
    color: rgb(62, 23, 191);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 100px;
    font-weight: 700;
}